{% extends 'app/base.html' %}
{% load static %}
{% block title %}Check Out{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %} 
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
    
      {% endfor %}
      <p class="fw-bold"> Total Cost + Rs. 100={{totalamount}}</p>
    <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil in et quis?</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="{% url 'orders' %}" method="post">
      {% csrf_token %}
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}} </p>
          <p>{{ad.city}}</p>
         <p>{{ad.state}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio"  value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <button type="button" class="btn btn-warning mt-3 px-5 fw-bold" id="payment-button">pay with khalti</button>
        </div>
      </form>
    </div>
  </div>
</div>
    <script>
      function verifyPayment(payload) {
          $.ajax({
            url: "{% url 'verify_payment' %}",
            type: "POST",
            data: payload,
            dataType: 'json',
            success: function (response) { alert(response) },
            error: function (error) { alert(error.responseJSON['message']) }
          });
        }
        var config = {
            "publicKey": "test_public_key_66f5011401d74cc5bbc8925e36fdca74",
            "productIdentity": "{% for item in cart_items %}{{item.product.id}},{% endfor %}",
            "productName": "{% for item in cart_items %}{{item.product.title}},{% endfor %}",
            "productUrl": "http://localhost:8000",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    verifyPayment(payload);
                    alert("thanks payment completed successfully!");
                    location.href="/"

                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: 1000});
        }
    </script>
{% endblock main-content %}
